.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1em;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  padding: 1em;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 1em;
  width: 100%;
  max-width: 600px;
  text-align: center;
}
